@font-face {
    font-family: 'DK Okiku';
    src: url('../../../fonts/DKOkiku/DK Okiku.otf') format('opentype');
}

@font-face {
    font-family: 'Dudu Calligraphy';
    src: url('../../../fonts/Dudu_Calligraphy.ttf') format('truetype');
}

html,body {
	margin: 0;
	padding: 0;
	overflow: hidden; /* Prevents scrollbars */
	font-family: 'Dudu Calligraphy', cursive;
}

canvas {
  display: block;
  height: 100% !important; /* Ensure canvas fills viewport height */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'DK Okiku', sans-serif;
    color: #8b0000;
    text-transform: uppercase;
    letter-spacing: 4px;
}
